:root {
  --white: #ffffff;
  --alt-white: #f6f4ff;
  --black: #161414;
  --red: #ff0000;
  --purpule: #7b61ff;
  --dark-purpule: #5243c2;;
  --dark-grey: #5b5b5b;
  --grey: #878787;
  --ligth-grey: #979797;;
}